<form name="categoryForm">
    <div class="modal-header">
        <h3>{{ modalState }}</h3>
    </div>
    
    <div class="modal-body">
        <div class="row">
            <div ng-if="errorMessage" class="alert alert-danger">
                <span>{{ errorMessage }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <span>Name<span class="text-danger">*</span></span>
                <br />
                <input type="text" class="form-control" ng-model="category.Name" name="name" required />
            </div>
            <div class="col-lg-3">
                <span>Status</span>
                <br />
                <input type="checkbox" ng-model="category.Status" name="status" />
            </div>
            <div class="col-lg-3">
                <span>Default</span>
                <br />
                <input type="checkbox" ng-model="category.IsDefault" name="isDefault" />
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="col-lg-12">
            <button class="btn btn-primary" ng-click="submit(categoryForm)"> Submit </button>
            <button class="btn btn-secondary" ng-click="cancel()"> Cancel </button>
        </div>
    </div>
</form>