<body ng-app="codera.shopping">
    <br />
    <div class="container"><div ui-view></div></div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/vendor")
    @Scripts.Render("~/bundles/app")
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/date.js"></script>
    <script src="~/Scripts/select.min.js"></script>
</body>
